/* add all CSS changes specifically concerning the new subpage here*/

.contentwrapper {
    margin: 50px; /* TODO needs defined makeover that every page looks the same!*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
    }

/*Copied from Mike Bostock*/


form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}