/* add all CSS changes specifically concerning the new subpage here*/

.contentwrapper {
    margin: 50px; /* TODO needs defined makeover that every page looks the same!*/
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}