/* add all CSS changes specifically concerning the new subpage here*/

.contentwrapper {
    margin: 50px; /* TODO needs defined makeover that every page looks the same!*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
    font-size: 12px;
    background: #bbb;
    }

/*Copied from Mike Bostock*/



text {
pointer-events: none;
}

.grandparent text { /* header text */
font-weight: bold;
font-size: medium;
font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}

rect {
fill: none;
stroke: #fff;
}

rect.parent,
.grandparent rect {
stroke-width: 2px;
}

.grandparent rect {
fill: #fff;
}

.children rect.parent,
.grandparent rect {
cursor: pointer;
}

rect.parent {
pointer-events: all; 
}

.children:hover rect.child,
.grandparent:hover rect {
fill: #aaa;
}

.textdiv { /* text in the boxes */
font-size: medium;
padding: 5px;
font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}
