/* add all CSS changes specifically concerning the new subpage here*/

.tile_contentwrapper {
     margin-left: 120px;
    margin-right: 120px;
}
    /* styles */
.listBox {
   /* border: 1px solid #222222; */
   height: 520px;
}

.hidden { display:none;}

.win-itembox {
    padding:0px;
}

#listView2 {
    
    margin: 0 0 0 0;
   
}

.MessageBox {
    text-align: center;
}

.MessageToTheUserInvisible {
    visibility:hidden;
}
.MessageToTheUserVisible {
    visibility:visible; font-size: 14px;font-family: Verdana; 
}

.KPISpanLeft {
    float:left; width:30px; text-align:left;width: 60px;
}
.KPISpanRight {
    float: right;
}

.firstKPI {
    position: relative; left: 75px; height:19px;
}
.secondKPI {
    position: relative; left: 65px; text-align:left;
}

.thirdKPI {
    position: relative; left: 85px; text-align:left;
}

.tileTempl {
    width: 60px;
    height: 60px;
    margin: 20px;
    padding: 3px;
    background-color: #ffffcc;
    border: 2px solid #663300;
    color: black;
    border-radius: 4px;
    font-family: Arial;
    text-align: center;
    position: relative;
}

.counter {
    font-size: 8pt;
    position: absolute;
    top: 0px;
    right: 4px;
    width: 20px;
    height: 20px;
    text-align: right;
}

.letter {
    font-size: 40pt;
    font-weight: bold;
    line-height: 48pt;
}

.win-selected .tileTempl {
    color: Black;
}

.barchart {
	height:170px;
}



#customercard {
		margin:0 auto;
		text-align: center;
		
		zoom: 1;
	}


#kpivalue  {text-align:right;}

	#customercard:before, #customercard:after {
	  content: "";
	  display: table
	}

	#customercard:after {
	  clear: both
	}

	/* --------------- */	

	#customercard .plan {
		font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
		background: #fff;      
		border: 1px solid #ddd;
		color: #333;
		padding: 20px;
		
		width: 322px;
		height: 450px;
		float: left;
		_display: inline; /* IE6 double margin fix */
		position: relative;
		margin: 0px;
		-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);		
	}

	#customercard .plan:after {
	  z-index: -1; 
	  position: absolute; 
	  content: "";
	  bottom: 20px;
	  
	  right: 4px;
	  width: 80%; 
	  top: 80%; 
	  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
	  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  -webkit-transform: rotate(3deg);    
	  -moz-transform: rotate(3deg);   
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);	
	}	
	
	#customercard .popular-plan {
		top: -20px;
		padding: 40px 20px;   
	}
	
	/* --------------- */	

	#customercard .header {
		position: relative;
		font-size: 20px;
		font-weight: normal;
		text-transform: uppercase;
		padding: 40px 40px 20px;
		margin: -20px -20px 20px -20px;
		border-bottom: 8px solid;
		background-color: #ffffff;
		
	}

	#customercard .header:after {
		position: absolute;
		bottom: -8px; left: 0;
		height: 3px; width: 100%;
		content: '';
		background-image: url(images/bar.png);
	}
	
	#customercard .popular-plan .header {
		margin-top: -40px;
		padding-top: 60px;		
	}

	#customercard .plan1 .header{
		border-bottom-color: #B3E03F;
	}

	#customercard .plan2 .header{
		border-bottom-color: #7BD553;
	}

	#customercard .plan3 .header{
		border-bottom-color: #3AD5A0;
	}

	#customercard .plan4 .header{
		border-bottom-color: #45D0DA;
	}			
	
	/* --------------- */

	#customercard .price{
		font-size: 45px;
	}

	#customercard .monthly{
		font-size: 13px;
		margin-bottom: 20px;
		text-transform: uppercase;
		color: #999;
	}

	/* --------------- */

	#customercard ul {
		margin: 20px 0;
		padding: 0;
		list-style: none;
	}

	#customercard li {
		padding: 10px 0;
	}
	
	/* --------------- */
		
	#customercard .signup {
		position: relative;
		padding: 10px 20px;
		color: #fff;
		font: bold 14px Arial, Helvetica;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;       
		background-color: #72ce3f;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;     
		text-shadow: 0 -1px 0 rgba(0,0,0,.15);
		opacity: .9;       
	}

	#customercard .signup:hover {
		opacity: 1;       
	}

	#customercard .signup:active {
		-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
		box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
	}			

	#customercard .plan1 .signup{
		background: #B3E03F;
	}

	#customercard .plan2 .signup{
		background: #7BD553;
	}

	#customercard .plan3 .signup{
		background: #3AD5A0;
	}

	#customercard .plan4 .signup{
		background: #45D0DA;
	}	
	

    /* Header Style */
.freshdesignweb-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.freshdesignweb-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.freshdesignweb-top a:hover{
	background: #fff;
}
.freshdesignweb-top span.right{
	float: right;
}
.freshdesignweb-top span.right a{
	float: left;
	display: block;
}
.freshdesignweb-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 20px 0px;
}
.freshdesignweb-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 4px;
	color: #fff;
	line-height: 20px;	
	font-style: italic;
	font-size: 13px;
	border-radius: 3px;
	background: rgba(41,77,95,0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.freshdesignweb-demos a:hover{
	background: rgba(41,77,95,0.3);
}
.freshdesignweb-demos a.current,
.freshdesignweb-demos a.current:hover{
	background: rgba(41,77,95,0.3);
}

/* Stars styling*/
.win-rating.differentRatingColor.win-star.win-user.win-full {
    color: rgba(0, 0, 0, 1.0);
}

.tileTemplate {
    width:350px;
}


.mypage.fragment section[role=main] {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

.mypage.fragment section[role=main] .hidden
{
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}  



